@model IEnumerable<AccesoDatos.Models.About>

<section id="aboutUs" class="secPad">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2>@Model.FirstOrDefault().nombre</h2>
            <p>@Model.FirstOrDefault().descripcion</p>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                if (item != Model.FirstOrDefault())
                {
                    <!-- item -->
                    <div class="col-md-3 panel panel-danger" style="border: 0;padding-left: 0px;padding-right: 0px;">
                      <!-- Default panel contents -->
                      <div class="panel-heading"><h3>@item.nombre <span class="id-color"></span></h3></div>
                        <div class="panel-body">
                          <p>@item.descripcion</p>
                        </div>
                    </div>              
                    <div class="col-md-1">
                        <p></p>
                    </div>              
                    <!-- end: -->
                }
            }
        </div>
    </div>
</section>