@model IEnumerable<AccesoDatos.Models.Auspiciador>

<section id="auspiciadores" class="secPad">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2>Auspiciadores</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="@item.url_logo" alt="Flayer">
                    <div class="caption">
                        <h3>@item.nombre</h3>
                        <p>@item.descripcion</p>
                        <p><a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>