<section id="experiencia" class="secPad white">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2>Mis Habilidades</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
        </div>
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-sm-4">
                    <h2>@item.nombre<strong>Skills</strong></h2>
                    <p class="mrgBtm20">
                        @item.descripcion
                    </p>
                </div>
            }
        </div>
    </div>
</section>