@model IEnumerable<AccesoDatos.Models.Logro>

<section id="logros" class="secPad">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2>Mi Experiencia</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
        </div>
        <div id="timeline">
            <div class="row timeline-movement timeline-movement-top">
                <div class="timeline-badge timeline-future-movement">
                    <a href="#">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
                <div class="timeline-badge timeline-filter-movement">
                    <a href="#">
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                </div>

            </div>
            <div class="row timeline-movement">

                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">2014</span>
                    <span class="timeline-balloon-date-month"></span>
                </div>


                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">2014</span>
                </div>

                <div class="col-sm-offset-6 col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="timeline-panel debits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">1er Lugar Campeonato Nacional Femenino de Motocross</span></li>
                                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                    <li><p><small class="text-muted"> 10/03/2013 - 18/02/2014</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="timeline-panel credits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">10mo Lugar Latino Americano Femenino Motocross , Mexico</span></li>
                                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                    <li><p><small class="text-muted"> 10/03/2013 - 18/02/2014</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--due -->

            <div class="row timeline-movement">


                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">2013</span>
                </div>

                <div class="col-sm-offset-6 col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="timeline-panel debits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">1er Lugar Campeonato Nacional Femenino de Enduro</span></li>
                                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                    <li><p><small class="text-muted"> 10/03/2013 - 18/02/2014</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="timeline-panel credits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">4to Lugar Campeonato Latino Americano de Motocross Femenino, Ecuador</span></li>
                                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                    <li><p><small class="text-muted"> 10/03/2013 - 18/02/2014</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-offset-6 col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="timeline-panel debits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">2do Lugar en Quinta Fecha Campeonato Nacional Femenino de motocross, Argentina</span></li>
                                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                    <li><p><small class="text-muted"> 10/03/2013 - 18/02/2014</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="timeline-panel credits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">3er Lugar Campeonato Nacional Femenino de Motocross</span></li>
                                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                    <li><p><small class="text-muted"> 10/03/2013 - 18/02/2014</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <div class="row timeline-movement">


                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">2012</span>
                </div>

                <div class="col-sm-offset-6 col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="timeline-panel debits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">5to Lugar Campeonato Latino Americano Femenino de Motocross, México</span></li>
                                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                    <li><p><small class="text-muted"> 11/01/2010 - 10/03/2013</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="timeline-panel credits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">2do Lugar Campeonato Nacional Femenino de Motocross</span></li>
                                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                    <li><p><small class="text-muted"> 11/01/2010 - 10/03/2013</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

            <div class="row timeline-movement">


                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">2011</span>
                </div>

                <div class="col-sm-offset-6 col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="timeline-panel debits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">1er Lugar Campeonato Apertura de Motocross</span></li>
                                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                    <li><p><small class="text-muted"> 11/01/2010 - 10/03/2013</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="timeline-panel credits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">1er Lugar Campeonato Nacional Femenino de Motocross</span></li>
                                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                    <li><p><small class="text-muted"> 11/01/2010 - 10/03/2013</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

            <div class="row timeline-movement">


                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">2010</span>
                </div>

                <div class="col-sm-offset-6 col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="timeline-panel debits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">3er Lugar Campeonato Metropolitano Femenino de Motocross</span></li>
                                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                    <li><p><small class="text-muted"> 11/01/2010 - 10/03/2013</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row timeline-movement">


                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">2009</span>
                </div>

                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="timeline-panel credits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">4to Lugar Campeonato Metropolitano de Motocross</span></li>
                                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                    <li><p><small class="text-muted"> 11/01/2010 - 10/03/2013</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

            <div class="row timeline-movement">


                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">2008</span>
                </div>

                <div class="col-sm-offset-6 col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="timeline-panel debits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">5to Lugar en el Campeonato Nacional de Motocross</span></li>
                                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                    <li><p><small class="text-muted"> 11/01/2010 - 10/03/2013</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row timeline-movement">


                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">2007</span>
                </div>

                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="timeline-panel credits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">5to Lugar en el Campeonato Nacional de Motocross</span></li>
                                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                    <li><p><small class="text-muted"> 11/01/2010 - 10/03/2013</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

            <div class="row timeline-movement">


                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">2006</span>
                </div>

                <div class="col-sm-offset-6 col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="timeline-panel debits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">7mo Lugar en el Campeonato Nacional de Motocross</span></li>
                                    <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                    <li><p><small class="text-muted"> 11/01/2010 - 10/03/2013</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row timeline-movement">


                <div class="timeline-badge">
                    <span class="timeline-balloon-date-day">2005</span>
                </div>

                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="timeline-panel credits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">Comienzo la participación en el campeonato Nacional de Motocross</span></li>
                                    <li><span class="causale">Competición contra hombres, obteniendo siempre los 6 primeros lugares. </span> </li>
                                    <li><p><small class="text-muted"> 11/01/2010 - 10/03/2013</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

</section>