@charset "utf-8";
/* CSS Documento */

html, body {
    height: 100%;
}

/* wrapper para fijar footer en parte inferior según tamaño del navegador */
#wrapper {
    min-height: 100%;
    height: auto;
    margin: 0 auto -70px;
    padding-bottom: 70px;
}

body{
	font-family:arial, tahoma, verdana !important;
	font-size:12px;	
	}

/*color fondo páginas interiores*/
.fondo{
	background-color:#f7f7f7;
}

.backstretch{
	position:absolute !important;
	}

img{
	top:0px !important;}

/*margen superior para el contenedor del login*/
.content_login{
	margin-top:100px;
}

/*título y subtitulos en login de usuario*/
p.titulo{
	font-size:16px;
	color:#2f537e;	
	font-weight:bold;
	text-shadow:1px 1px 0px rgba(255,255,255, 0.9);
	margin-bottom:0px;
	margin-top:30px;
}

p.subtitulo{
	font-size:18px;
	color:#4172ad;	
	font-weight:bold;
	text-shadow:1px 1px 0px rgba(255,255,255, 0.9);
	margin-top:5px;
}

p.subtitulo2{
	font-size:12px;
	color:#4172ad;	
	text-shadow:1px 1px 0px rgba(255,255,255, 0.9);
	margin:0px 0px 30px 0px;
}

/*controles para ingreso de usuario*/
label.log{
	font-size:14px;
	font-weight:normal;
	color:#4172ad;
}

.form-control{
	border-radius:6px !important;
}

/*botón login de usuario*/
.btn-form-log{
	border:1px solid #365f91;
	border-radius:5px;
	display: inline-block;
	padding: 15px 20px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;	
	color:#FFF;
	text-shadow:1px 1px 0px rgba(0,0,0, 0.6);
	background-color:#4172AD;
	background-image: -ms-linear-gradient(top, #4172AD 0%, #172C45 100%);
	background-image: -moz-linear-gradient(top, #4172AD 0%, #172C45 100%);
	background-image: -o-linear-gradient(top, #4172AD 0%, #172C45 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4172AD), color-stop(100, #172C45));
	background-image: -webkit-linear-gradient(top, #4172AD 0%, #172C45 100%);
	background-image: linear-gradient(to bottom, #4172AD 0%, #172C45 100%);	
}
	
.btn-form-log:hover{
	background-color:#2b517e;
	background-image: -ms-linear-gradient(top, #172C45 0%, #4172AD 100%);
	background-image: -moz-linear-gradient(top, #172C45 0%, #4172AD 100%);
	background-image: -o-linear-gradient(top, #172C45 0%, #4172AD 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #172C45), color-stop(100, #4172AD));
	background-image: -webkit-linear-gradient(top, #172C45 0%, #4172AD 100%);
	background-image: linear-gradient(to bottom, #172C45 0%, #4172AD 100%);
}
	
/*footer o pie de página */
.footer {  
  width: 100%; 
  min-height: 70px;
  background-color:#4172ad;
  border-top:1px solid #2b507e;
}
  
p.foot{
	color:#fff;
	font-size:10px;
	padding:10px 0px 10px 0px;
	margin:0px;
}
  
p.foot a {
	color:#FFF;
	font-size:10px;
}

p.foot a:hover {
	color:#89b2e3;
	text-decoration:none;
}

.breadcrumb > li > a{
	font-size:10px;
}

/*alertas o mensajes*/

.alert-atencion{
	color:#e5804a;
	font-size:12px;
	background-color:#fed5bf;
	background-image:none;
	border:1px solid #ffba95 !important;
}

.alert-error{
	color:#ce3838;
	font-size:12px;
	background-color:#fed6d6;
	background-image:none;
	border:1px solid #ffbdbd !important;
}

.alert-exito{
	color:#9fc143;
	font-size:12px;
	background-color:#ebffb5;
	background-image:none;
	border:1px solid #e0fe8e !important;
}

/*icono mensaje de alerta*/
.ico{
	font-size:32px;		
	display:inline-block;
	position:relative;
	width:10%;
	vertical-align:middle;
	margin-right:15px;	
}

.txt{
	display:inline-block;
	position:relative;
	width:82%;	
	vertical-align:middle;
}

/*ESTILOS PAGINA INTERIOR*/

/*header - logotipo y nombre*/
.header{
	margin:20px 0px 20px 0px;
}

.name{
	font-size:14px;
	color:#2f537e;
	text-align:right;
	text-shadow:1px 1px 0px rgba(255,255,255, 0.8);
}

.subname{
	color:#4172ad;
}

.vers{
	font-size:12px;
}

/*user - nombre de usuario y cerrar sesión*/
.user{
	border-radius:3px;
	background-color:#81a0c7;
	padding:5px;
	color:#FFF;
	font-size:11px;
}

a.close_user{
	background:url(../Images/ico_close.png) no-repeat left top;
	color:#FFF;
	padding:5px 0px 5px 30px;
	height:24px;
	width:auto;
	line-height:24px;
}

a.close_user:hover{
	background:url(../Images/ico_close.png) no-repeat left bottom;
	color:#144179;
	text-decoration:none;	
}

/*Menú navegación*/

.navbar-brider {
	margin-top:5px;
	background-color:#4172ad;
  	background-image: none;  
  	filter: none;  
  	border-radius: 4px;
  	-webkit-box-shadow: none;
    box-shadow: none;
	border:0px !important;
}

.nav > li.active{
	 background-color:#355985;
}

.navbar-nav > li > a{
	font-size:11px;
	text-transform:uppercase;
	color:#FFF;
}

.navbar-nav > li > a:hover{
	background-color:#4d80bd !important;
}

/*título principal*/
h1.titulo-uno{
	font-size:16px;
	font-weight:bold;
	color:#3b6ba6;
	background-color:#9eb8ce;
	border-radius:3px;
	line-height:35px;
	padding:0px 10px;
	width:100%;
	text-shadow:1px 1px 0px rgba(255,255,255, 0.4);
}

/*subtítulo uno*/
h2.subtitulo-uno{
	font-size:14px;
	font-weight:bold;
	color:#3b6ba6;
	background-color:#e3e4e5;
	border-radius:3px;
	line-height:30px;
	padding:0px 10px;
	width:100%;
	text-shadow:1px 1px 0px rgba(255,255,255, 0.4);
}

/*subtítulo dos*/
h3.subtitulo-dos{
	font-size:14px;
	font-weight:bold;
	color:#444444;	
	line-height:30px;
	padding:0px 10px;
	width:100%;
	text-shadow:1px 1px 0px rgba(255,255,255, 0.4);
}

/*párrafo de texto*/

p.texto{
	font-size:12px;
	padding:0px 10px;
}

/*label control formulario*/

.label-form{	
	color:#545353;
	font-size:12px;
}

/*asterisco dato obligatorio*/

span.star{
	color:#c96565;
	font-size:30px;	
	margin-left:10px;
	position:absolute;
	margin:-5px 0px 0px 10px;	
}

/*texto datos obligatorios*/
p.obl{
	font-size:12px;
	color:#808080;
	font-weight:bold;
	margin-left:15px;	
}

span.star2{
	color:#c96565;
	font-size:30px;	
	position:absolute;
	margin:-7px 0px 0px 0px;
}

/*control input + select*/

.form-control-2 {
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #545353;
  background-color:#FFF;  
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-2:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control-2::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.form-control-2:-ms-input-placeholder {
  color: #777;
}
.form-control-2::-webkit-input-placeholder {
  color: #777;
}
.form-control-2[disabled],.form-control-2[readonly],fieldset[disabled] .form-control-2{
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
  color:#A2A2A2;
}
textarea.form-control-2 {
  height: auto;
}

/*margen inferior para controles*/
.empty{
	margin-bottom:10px;
}

/*botón Small formulario*/
.btn-form-sm{
	border:1px solid #939393;
	border-radius:5px;
	display: inline-block;
	padding: 5px 10px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;	
	color:#FFF;
	text-shadow:1px 1px 0px rgba(0,0,0, 0.6);
	background-color:#b0b0b0;
	background-image: -moz-linear-gradient(top, #b0b0b0 0%, #7f7f7f 100%);
	background-image: -webkit-gradient(left top, left bottom, color-stop(0%, #b0b0b0), color-stop(100%, #7f7f7f));
	background-image: -webkit-linear-gradient(top, #b0b0b0 0%, #7f7f7f 100%);
	background-image: -o-linear-gradient(top, #b0b0b0 0%, #7f7f7f 100%);
	background-image: -ms-linear-gradient(top, #b0b0b0 0%, #7f7f7f 100%);
	background-image: linear-gradient(to bottom, #b0b0b0 0%, #7f7f7f 100%);	
}
	
.btn-form-sm:hover{
	border:1px solid #365f91;
	background-color:#4172AD;
	background-image: -ms-linear-gradient(top, #4172AD 0%, #172C45 100%);
	background-image: -moz-linear-gradient(top, #4172AD 0%, #172C45 100%);
	background-image: -o-linear-gradient(top, #4172AD 0%, #172C45 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4172AD), color-stop(100, #172C45));
	background-image: -webkit-linear-gradient(top, #4172AD 0%, #172C45 100%);
	background-image: linear-gradient(to bottom, #4172AD 0%, #172C45 100%);	
}

/*botón large formulario*/
.btn-form-lg{
	border:1px solid #939393;
	border-radius:5px;
	display: inline-block;
	padding: 10px 20px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;	
	color:#FFF;
	text-shadow:1px 1px 0px rgba(0,0,0, 0.6);	
	background-color:#b0b0b0;
	background-image: -moz-linear-gradient(top, #b0b0b0 0%, #7f7f7f 100%);
	background-image: -webkit-gradient(left top, left bottom, color-stop(0%, #b0b0b0), color-stop(100%, #7f7f7f));
	background-image: -webkit-linear-gradient(top, #b0b0b0 0%, #7f7f7f 100%);
	background-image: -o-linear-gradient(top, #b0b0b0 0%, #7f7f7f 100%);
	background-image: -ms-linear-gradient(top, #b0b0b0 0%, #7f7f7f 100%);
	background-image: linear-gradient(to bottom, #b0b0b0 0%, #7f7f7f 100%);
}
	
.btn-form-lg:hover{
	border:1px solid #365f91;
	background-color:#4172AD;	
	background-image: -ms-linear-gradient(top, #4172AD 0%, #172C45 100%);
	background-image: -moz-linear-gradient(top, #4172AD 0%, #172C45 100%);
	background-image: -o-linear-gradient(top, #4172AD 0%, #172C45 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4172AD), color-stop(100, #172C45));
	background-image: -webkit-linear-gradient(top, #4172AD 0%, #172C45 100%);
	background-image: linear-gradient(to bottom, #4172AD 0%, #172C45 100%);
}

/*margen superior para botones utilizados a un costado de controles de formulario*/
.btns{
	margin-top:25px;	
}

.btn-form-sm-disabled {
	cursor: not-allowed !important;
  	background: #cfcfcf;
  	opacity: 1;
	color:#a0a0a0;
	border-radius:5px;
	display: inline-block;
	padding: 5px 10px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;	
	text-shadow:none;
	border:1px solid #cacaca;}
	
.btn-form-lg-disabled {
	cursor: not-allowed !important;
  	background: #cfcfcf;
  	opacity: 1;
	color:#a0a0a0;
	border-radius:5px;
	display: inline-block;
	padding: 10px 20px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;	
	text-shadow:none;
	border:1px solid #cacaca;}

/*altura mínima control area de texto*/
.area{
	min-height:80px;
}

/*color fondo row tabla o grilla*/
.grid{
	background-color:#FFF;
	border:1px solid #DDD;
}

/*tabla - columna destacada*/
.des-uno{
	background-color:#678BAA;
	color:#FFF !important;
}

.des-dos{
	background-color:#A0B2C1 !important;
	color:#FFF !important;
}

/*icono de acciones en tabla*/
a.ico-action{
	font-size:20px;
	color:#535353;
	margin:0px 5px;
}

a.ico-action:hover{	
	color:#3e6da7;
	text-decoration:none;
}

label.disabled{
	color:#C9C9C9;
}


/* WebGrids
----------------------------------------------------------*/
    /*table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }*/


/* Waiting Spinner
----------------------------------------------------------*/
#loading
    {
        display:none;
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background:rgba(255,255,255,0.8);
        z-index:1000;
    }
  
    #loadingcontent
    {
        display:table;
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
    }
  
    #loadingspinner
    {
        display: table-cell;
        vertical-align:middle;
        width: 100%;
        text-align: center;
        font-size:larger;
        padding-top:80px;
    }


/* PDF
----------------------------------------------------------*/
.pdftable, .pdftable td
{
    font-size:30px;
}

/* Other
----------------------------------------------------------*/
.hidden-item {
    display: none;
}

.visible-item {
    display: block;
}

.center-icons {
    text-align:center !important;
}

.right-item {
    text-align:right !important;
}

.left-item {
    text-align:left !important;
}

.cuerpo_correos {
    width: 900px !important;
}


